body{
    background: orange;
    color: rgb(0, 0, 0);
    margin-left: 38em;
    margin-right: auto;
    width: 12em;
    margin-top: 60px;
    margin-left: auto;
    height: auto;
    
}
.container{
    background-color: white;
    width: 45%;
    max-width: 500px;
    height: auto;
    padding: 40px 30px;
    transform: translate(-50%);
    position: absolute;
    top: 30%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgb(171, 112, 3);

}
#thema{
    text-align: center;
    font-size: 20px;
}
.nonPress{
    text-align: center;
    height: 5em;
    width: 10em;
    margin-left: 15%;
    box-shadow: 0 5px 0 rgb(171, 112, 3);
    
}
.press{
    text-align: center;
    height: 5em;
    width: 10em;
    margin-left: 15%;
    margin-top: 5px;
}
li{
    max-width: 15em;
}
.img{
    position: absolute;
    top: 20px;
    left: 20px;
    visibility: hidden;
}

button{
    background-color: white;
    border-radius: 10px;
    border-color: rgb(250, 247, 247);
    border: 0px;
    position: relative;
}

#inputfield{
    margin-top: 20px;
    border-radius: 5px;
    border: 0;
    height: 30px;
    padding: 0px 10px;
    margin-bottom: 10px;

}

#submitBtn{
    width: 100px;
    text-align: center;
    height: 2.5em;
    width: 5em;
    margin-left: 0%;
    background-color: white;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border: 0px;
    font-weight: 650;

}

#submitBtn:hover{
    background-color: rgb(210, 210, 210); 
}




.active{
    display: block;
}
.fadeOut{
    display: block;
    text-decoration: line-through;
    animation: fadeOut ease 1.5s;
}
@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }



@media screen and (max-width:428px){ 
    .img{
        width: 45%;
        max-width: 400px;
        padding: 40px 0px;
        padding-right: 30px;
        transform: translate( -200%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    ul{
        padding-left: 10px;
    }


}